.main-content{
  margin-left: 40px;
  color: #fff;
}

.container{
  h1{
    font-size: 20px;
    font-weight: 500;
    margin-left: 60px;
    margin-bottom: -15px;
  }
}

.movie-list{
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  display: flex;
  padding: 30px 0 40px 0;

  .movie{
    list-style: none;
    margin: 0px 10px;
    border-radius: 3px;
    overflow: hidden;
    display: inline-table;

    img{
      height: 150px;
      display: flex;
    }
    

    .movie-info {
      padding: 20px 15px 10px;
      background-color: #171717;
      transform: scale(0);
      border-radius: 3px;

      p{
        color: #7E7B7B;
        margin: 10px 0 0;
        font-size: 12px;
        text{
          color: #fff;
        }
      }

      div span a{
      font-size: 30px;
      margin-right: 10px;
      color: #fff;
      }
    }
  }

  .movie:first-child {
    margin-left: 40px;
  }
}

.movie:hover{
  cursor: pointer;
  transform: scale(1.2);
  z-index: 9;
  transition: 0.5s;
  
}
.movie:hover .movie-info{
  transform: scale(1);
  z-index: 9;
}

.movie-list::-webkit-scrollbar{
  display: none;
}

section{
  margin-bottom: -80px;
}
